div.content {
  header.logo {
      text-align: center;
      img {
        width: 30%;
        min-width: 200px;
      }
  }
}

article.page {
  padding: 0px 40px 20px 20px;
  @media (#{$bp-larger-than-phablet}) { padding-left: 0; }

  section.content {
    clear: both;

    h1, h2, h3, h4, h5, h6, p {
      width: 100%;
      clear: both;
    }

    p > img {
      display: block;
      margin: 0 auto;
      padding-top: 0px;
      max-width: 100%;
    }

    table {
      display: block;
      overflow-x: auto;
      width: 100%;

      tr:last-child td {
        border-bottom: 0;
      }
    }
  }
}